apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: pacman-1wxa
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: pacman-1wxa
    app.kubernetes.io/part-of: my-app
  name: pacman-1wxa
  namespace: burrzinga-tenant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: pacman-1wxa
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: pacman-1wxa
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload@sha256:20e4464772a16dccedc6bb313a7be3a4a44652ecc012ba736b58496162daadd7
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
